
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Montserrat', 'Raleway', sans-serif; 
    // font-size: 62.5%; /* 62.5% of 16px = 10px */
}

.vbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hbox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
